@font-face {
	font-family: SatoshiVariable;
	src: url(fonts/SatoshiVariable.ttf);
}

* {
	font-family: SatoshiVariable, sans-serif;
	color: white;
	background-color: hsl(210, 40%, 40%);
}

button {
	background-color: hsl(210, 40%, 60%);
	font-size: 30px;
	height: 50px;
	width: 150px;
	border-style: none;
    border-radius: 20px;
    margin: 0px 20px;
    box-shadow: 4px 4px hsla(0, 0%, 0%, 0.2);
    cursor: pointer;

    transition: all 0.3s;
}

button:hover {
    transform: translateY(-2px);
}

button:active {
    background-color: hsl(210, 40%, 50%);
    transform: translateY(2px);
}

table {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	box-sizing: border-box;
	overflow-wrap: none;
	border-spacing: 0px 0px;
}

td {
	position: relative;
	border: hsl(210, 40%, 30%) solid 4px;
	height: 110px;
	width: 110px;
}

canvas {
	background: transparent;
	position: absolute;
	top: 0px;
}

.btn {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.cross {
	z-index: 2;
}

.circle {
	z-index: 1;
}

#circlebtn {
    padding-bottom: 6px;
}

#topLeft {
	border-top: none;
	border-left: none;
}

#hint {
	display: flex;
	justify-content: center;
	font-size: 48px;
}

#top {
	border-top: none;
}

#topRight {
	border-top: none;
	border-right: none;
}

#left {
	border-left: none;
}

#mid {
	margin: auto;
}

#right {
	border-right: none;
}

#botLeft {
	border-left: none;
	border-bottom: none;
}

#bot {
	border-bottom: none;
}

#botRight {
	border-bottom: none;
	border-right: none;
}
